@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@400;500&display=swap');
body{
    font-family: 'Athiti', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: black;
    color: #ff0303;
    padding: 10px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
}
.logo{
    margin-left: 20px;
}

nav a{
    color: 39A7FF;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
}

#content{
    padding: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

footer{
    background-color: #39A7FF;
    color: ED5AB3;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a.btn{
    height: 40px;
    width: 150px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #da46ba;
    color: rgb(12, 12, 1);
    border: solid 1px rgb(44, 1, 235);

    padding-top: 18px;
    text-align: center;
    text-decoration: none;
}

a.btn:hover{
    background-color: rgb(12, 216, 56);
    color: #e90000;
}

</style>
<body>